@font-face {
    font-family:streamster;
    src:url('fonts/streamster.ttf');
}

#main {
    font-family:streamster;
}

body, html {
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #f2f2f2;
    background-color: #19171c;
}

.main-page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-page-caption {
    position: absolute;
    width: auto;
    top: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}
.black-border {
    font: 700 100px/1.8 streamster;
    position: absolute;
    color: #6BBDFF;
    z-index: 0;
    max-height: 100rem;
    left: 0cm;
    right: 0.3cm;
    margin-left: auto;
    margin-right: auto;
}

.border {
    font: 700 100px/1.8 streamster;
    z-index: 5;
    text-shadow: 2px 2px black;
    color: black;
    max-height: 100rem;
}

.sun {
    /* height: auto; */
    /* position: relative; */
    width: 800px;
    height: auto;
    /* max-width: 630px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 8rem; */
}

.triangle {
    position: absolute;
    top: 270px;
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: rotate(25deg);
}

.grid-and-palmtrees {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.grid {
    position: absolute; 
    width: 100%;
    max-height: 30rem;
    top: 629px;
    /* bottom: 200px; */
}

/* .palm-tree-cluster {
    position: absolute;
    top: 10px;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
} */

.cluster-1 {
    /* bottom: 5rem; */
    position: absolute;
    left: 70px;
    float: left;
    top: 300px;
    z-index: 0;
}

.cluster-2 {
    top: 300px;
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /* float: right; */
    right: 70px;
    z-index: 0;
    /* margin-right: auto; */
    /* margin-left: auto; */

}

.about-me {
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* left: 0; */
    /* right: 0; */
    z-index: 10;
    display: flex;
    width: auto;
    background-color: #26262c;
    z-index: 20;
    /* position: absolute; */
}
.container {
    background-color: #26262c;
    width: 100%;
    /* position: relative; */
    z-index: 10;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.about-me-text {
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 5rem;
    text-align: justify;
    color: whitesmoke;
}

.about-me-text h3 {
    font-size: 60px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0px;
    margin: 0;
    font: 700 60px/1.8 streamster;
}

.about-me-text span {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
}

.resume-text {
    font: 700 60px/1.8 streamster;
    text-align: center;
}

.skills {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
}

.work-and-publications {
    display: flex;
    flex-direction: column;
}

.work-experience {
    float: left;
    background-color: #680097;
    margin-right: 5px;
    padding: 40px 35px;
    border-radius: 12px;
    flex-grow: 1;
    margin-bottom: 5px;
}

.publications {
    background-color: #680097;
    margin-right: 5px;
    padding: 40px 35px;
    border-radius: 12px;
    flex-grow:1;
    margin-top: 5px;
}

.degree-and-skills {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 800px;
    flex-grow: 1;
}

.degree {
    padding: 40px 35px;
    flex-grow: 1;
    background-color: #680097;
    border-radius: 12px;
    margin-top: auto;
    margin-bottom: 5px;
}
.my-skills {
    padding: 40px 35px;
    flex-grow: 1;
    background-color: #680097;
    border-radius: 12px;
    margin-bottom: auto;
    margin-top: 5px;
}


.roman-pillar {
    height: 99%;
    width: auto;
}

.projects {
    width: auto;
    background-color: #26262c;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

.projects-text h3 {
    margin: 0;
    font: 700 60px/1.8 streamster;
    text-align: center;
}

.project-list {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

.projects-boxes {
    margin: 0 auto;
    align-self: center;
    display: flex;
    max-width: 1050px;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    display: flex;
    margin-bottom: 3rem;
}

.box img {
    /* margin-left: auto; */
    height: auto;
    /* height: 200px; */
    /* max-width: 200px; */
    width: 200px;
    /* width: auto; */
    margin-right: 3rem;
}

.contact {
    height: 100%;
    background-image: url('images/contact_page/vaporwave-windows95.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.contact h3 {
    margin: 0;
    font-size: 70px;
    text-align: center;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px 30% 0px 30%;
} 
