@font-face {
    font-family:streamster;
    src:url('fonts/streamster.ttf');
}

#main {
    font-family:streamster;
}

body, html {
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    /* font: 400 15px/1.8 streamster; */
    /* font: 700 100px/1.8 streamster; */
    color: #f2f2f2;
    background-color: #19171c;
    /* -webkit-text-stroke: 2px black; */
}

.main-page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-page-caption {
    /* top: 240px; */
    position: absolute;
    width: auto;
    top: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    /* color: black; */
    /* color: #6DFDE0; */
}
.black-border {
    font: 700 100px/1.8 streamster;
    position: absolute;
    /* color: black; */
    /* color: #75DEFF; */
    color: #6BBDFF;
    z-index: 0;
    max-height: 100rem;
    /* top: 320px; */
    left: 0cm;
    right: 0.3cm;
    margin-left: auto;
    margin-right: auto;
}

.border {
    font: 700 100px/1.8 streamster;
    z-index: 5;
    text-shadow: 2px 2px black;
    /* position: absolute; */
    /* color: #75DEFF; */
    color: black;
    /* margin-right: 0.3cm; */
    /* padding-top: 0.5cm; */
    /* margin-top: 1cm; */
    /* left: 0; */
    /* right: 0; */
    /* left: 1cm; */
    /* top: 0.5cm; */
    max-height: 100rem;
}

.sun {
    /* position: relative; */
    /* position: absolute; */
    /* height: 1000px; */
    height: 800px;
    width: auto;
    /* max-height: 800px; */
    /* left: 0; */
    /* right: 0; */
    margin-left: auto;
    margin-right: auto;
}

.triangle {
    position: absolute;
    top: 270px;
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: rotate(25deg);
}

.grid {
    position: absolute; 
    width: 100%;
    max-height: 30rem;
    top: 629px;
}

/* .front-page-caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    z-index: 10;
} */

.palm-tree-cluster {
    position: relative;
    bottom: 27rem;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
}

.cluster-1 {
    left: -125px;
    float: left;
}

.cluster-2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: right;
    left: 125px;
    margin-right: auto;
    margin-left: auto;

}

.about-me {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* padding-top: 24px; */
    z-index: 10;
    display: flex;
    /* position: relative; */
    /* bottom: 28rem; */
    /* padding-top: 5rem; */
    padding-left: 24px;
    padding-right: 24px;
    width: auto;
    /* background-image: url("images/about_page/vaporwave-palm-tree-background-2.jpg"); */
    /* padding-top: 300px; */
    /* padding-bottom: 300px; */
    /* background-color: #242427; */
    /* background-color: #fa1ed2; */
    /* background-color: #5c16c5; */
    background-position: 0px 30%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 15;
}
.container {
    /* background-color: #5c16c5; */
    /* background-color: #e100ff; */
    /* background-color: #e0218a; */
    /* background-color: #6BBDFF; */
    /* background-color: #ED00E5; */
    /* background-color: #680097; */
    /* background-color: #19171c; */
    background-color: #26262c;
    /* color: black; */
    /* background-color: #6bbafa; */
    /* background-color: #e6429d; */
    position: absolute;
    z-index: 10;
    /* margin-top: 100px; */
    display: flex;
    /* background-color: #242427; */
    /* color: #19171c; */
    color: whitesmoke;
    justify-content: center;
    /* box-sizing: border-box; */
    /* border-radius: 6px; */
    /* box-shadow: 0 5px 8px #111; */
    padding-left: 24px;
    padding-right: 24px;
    /* max-width: 1280px; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 95px;
    /* flex-direction: column; */
    /* margin-top: 100px; */
    /* position: relative; */
    /* width: auto; */
    /* margin-left: 17%; */
    /* margin-right: 30%; */
    /* padding-left: 17%; */
    /* padding-right: 30%; */
    /* padding-bottom: 35px; */
    /* background-image: url("images/about_page/vaporwave-palm-tree-3.jpeg"); */
    /* background-image: url("images/about_page/vapowave-palm-tree-background.jpg"); */
    /* background-image: url("images/about_page/vaporwave-palm-tree-background-2.jpg"); */
    /* background-color: #242427; */

    /* background-position: -80rem 40%; */
    /* background-image: url("images/about_page/vapowave-palm-tree-background-3.jpg"); */
    /* background-image: url("images/about_page/vaporwave-palm-tree-background-4.jpg"); */

    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

}
/* .about-me .container { */
     /* background-image: url("images/about_page/vaporwave-palm-tree-background-2.jpg"); */
    /* background-color: #242427; */

    /* background-position: -80rem 40%;    */
/* } */

.about-me-text {
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    max-width: 700px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: justify;
    /* color: #20141f; */
    /* color: black; */
    /* color: #6BBDFF; */
    color: whitesmoke;
}

/* .about-me img {
    width: 356px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: flex;
} */

.about-me-text h3 {
    /* position: relative; */
    /* right: 80px; */
    /* bottom: 45px; */
    font-size: 60px;
    /* margin: 0; */
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0px;
    margin: 0;
    /* text-shadow: 2px 2px black; */

    /* background-color: #111; */
    /* color: #242427; */
    /* padding: 10px; */
}

.about-me-text span {
    /* position: relative; */
    /* bottom: 30px; */
    /* text-shadow: 1px 1px black; */
    /* font-size: 20px; */
    /* line-height: 1.5; */
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;

    /* background-color: #111; */
    /* color: #111; */
    /* padding: 10px; */
}

.skills {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;

    /* background-image: url('images/skills_page/ws_Pink_Clouds_1920x1080.jpg'); */
    background-position: 0px 70%;
    background-repeat: no-repeat;
    background-size: cover;

    height: 800px;
    width: auto;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    justify-content: center;
}

.roman-pillar {
    height: 99%;
    width: auto;
}

.skills-text {
    color: black;
    background-color: white;
    opacity: 80%;
    height: 90%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.skills-text h3 {
    margin: 0;
    font-size: 70px;
    color: blue;
    text-align: center;
}

.projects {
    height: 800px;
    background-image: url('images/project_page/vaporwave-desert-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0px 70%; */
    /* margin: 10px; */
}

.projects-text h3 {
    margin: 0;
    font-size: 70px;
    text-align: center;
}

.projects-boxes {
    /* position: relative; */
    /* left: 20%; */
    /* right: 20%; */
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    margin: 0 auto;
    align-self: center;
    /* padding: auto; */
    /* margin: 20px; */
    /* margin: inherit; */
    /* height: 80%; */
    /* width: 80%;  */
    display: flex;
    /* width: 80%; */
    /* width: 90%; */
    max-width: 1050px;
    /* display: flex; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    /* float: left; */
    /* clear: both; */
}

.box {
    /* display: inline-block; */
    height: 300px;
    width: 300px;
    max-width: 300px;
    flex: 2 300px;
    margin: 20px;
    /* margin: 0 auto; */

    /* margin: 0 auto; */
    /* margin: 20px; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: white;
    color: black;
    /* flex-wrap: wrap; */
    /* display: inline; */
    text-align: center;
    /* word-wrap: normal; */
    /* vertical-align: middle; */
    /* line-height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box span {
    font-size: xx-large;
    /* position: relative; */
    /* top: 40%; */
}

.contact {
    height: 100%;
    background-image: url('images/contact_page/vaporwave-windows95.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.contact h3 {
    margin: 0;
    font-size: 70px;
    text-align: center;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px 30% 0px 30%;
} 
