@font-face {
    font-family:streamster;
    src:url('fonts/streamster.ttf');
}

#main {
    font-family:streamster;
}

body, html {
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #f2f2f2;
    background-color: #19171c;
}

.main-page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-page-caption {
    position: absolute;
    width: auto;
    top: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}
.black-border {
    font: 700 100px/1.8 streamster;
    position: absolute;
    color: #6BBDFF;
    z-index: 0;
    max-height: 100rem;
    left: 0cm;
    right: 0.3cm;
    margin-left: auto;
    margin-right: auto;
}

.border {
    font: 700 100px/1.8 streamster;
    z-index: 5;
    text-shadow: 2px 2px black;
    color: black;
    max-height: 100rem;
}

.sun {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.triangle {
    position: absolute;
    top: 270px;
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: rotate(25deg);
}

.grid-and-palmtrees {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.grid {
    position: absolute; 
    width: 100%;
    max-height: 30rem;
    top: 629px;
}

.cluster-1 {
    position: absolute;
    left: 70px;
    float: left;
    top: 300px;
    z-index: 0;
}

.cluster-2 {
    top: 300px;
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 70px;
    z-index: 0;
}

.about-me {
    z-index: 10;
    display: flex;
    width: auto;
    background-color: #26262c;
    z-index: 20;
}
.container {
    background-color: #26262c;
    width: 100%;
    z-index: 10;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.about-me-text {
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 5rem;
    text-align: justify;
    color: whitesmoke;
}

.about-me-text h3 {
    font-size: 60px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0px;
    margin: 0;
    font: 700 60px/1.8 streamster;
}

.about-me-text span {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
}

.resume-text {
    font: 700 60px/1.8 streamster;
    text-align: center;
}

.skills {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
}

.work-and-publications {
    display: flex;
    flex-direction: column;
}

.work-experience {
    float: left;
    background-color: #680097;
    margin-right: 5px;
    padding: 40px 35px;
    border-radius: 12px;
    flex-grow: 1;
    margin-bottom: 5px;
}

.publications {
    background-color: #680097;
    margin-right: 5px;
    padding: 40px 35px;
    border-radius: 12px;
    flex-grow:1;
    margin-top: 5px;
}

.degree-and-skills {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 800px;
    flex-grow: 1;
}

.degree {
    padding: 40px 35px;
    flex-grow: 1;
    background-color: #680097;
    border-radius: 12px;
    margin-top: auto;
    margin-bottom: 5px;
}
.my-skills {
    padding: 40px 35px;
    flex-grow: 1;
    background-color: #680097;
    border-radius: 12px;
    margin-bottom: auto;
    margin-top: 5px;
}


.roman-pillar {
    height: 99%;
    width: auto;
}

.projects {
    width: auto;
    background-color: #26262c;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

.projects-text h3 {
    margin: 0;
    font: 700 60px/1.8 streamster;
    text-align: center;
}

.project-list {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

.projects-boxes {
    margin: 0 auto;
    align-self: center;
    display: flex;
    max-width: 1050px;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    display: flex;
    margin-bottom: 3rem;
}

.box img {
    height: auto;
    width: 200px;
    margin-right: 3rem;
}

.contact {
    padding-top: 5rem;
    height: 100%;
    text-align: center;
    padding-bottom: 5rem;
}

.contact-text {
    margin: 0;
    font: 700 60px/1.8 streamster;
    text-align: center;
    padding-bottom: 3rem;
}

.adjust {
    margin-right: auto;
    margin-left: auto;
}

.email {
    padding: 10px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.email-logo {
    margin-right: 1rem;
    width: 50px;
    height: auto;
}
